<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <iisnode node_env="production" />
        <handlers>
            <add name="iisnode" path="src/app.js" verb="*" modules="iisnode" />
        </handlers>
        <httpRedirect exactDestination="true">
		
		</httpRedirect>
        <rewrite>
            <rules>
        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent" patternSyntax="Wildcard">
            <action type="Rewrite" url="public/{R:0}" logRewrittenUrl="true"/>
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            </conditions>
            <match url="*.*"/>
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
            </conditions>
            <action type="Rewrite" url="src/app.js"/>
        </rule>
    </rules>
</rewrite>
        
    </system.webServer>
</configuration>
